html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  color: #e5ffff;
  background-color: #326295;
  margin: 0;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header, main, footer {
  padding: 1rem;
}

.logo {
  height: 7em;
}

table {
  min-width: 75%;
  margin: 0 auto 0 auto;
  border-collapse: collapse;
  cursor: default;
}

table th {
  text-decoration: underline;
  padding: 4px;
}

table td {
  border: 1px solid #658fc6;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #19497c;
}

table tr:not(:first-child):hover {
  color: #19497c;
  background-color: #658fc6;
}

footer {
  background-color: #19497c;
  left: 0;
}

footer a {
  color: #e5ffff;
}

img {
  pointer-events: none;
}

.icon {
  height: 1em;
}
